.containerSlider {
  padding: 100px 0;
  margin: 0 auto;
  width: 100%;
}

h1#title {
  position: absolute;
  font-family: 'Oswald', sans-serif;
  font-size: 40px;
  font-weight: 900;
  text-transform: uppercase;
  opacity: .1;
  color: snow;
}

.gallery-wrap {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 80vh;
}

.item {
  flex: 1;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: none;
  transition: flex 0.8s ease;
}

.item:hover {
  flex-grow: 6;
  cursor: pointer;
}

.social {
  position: absolute;
  right: 35px;
  bottom: 0;
}

.social img {
  display: block;
  width: 32px;
}

.activeImg {
  /* flex: 4; */
  flex-grow: 8;
  cursor: default;
  justify-content: center;
}


/* slider */


.modal {
  display: none;
  position: fixed;
  z-index: 99999;
  padding: 10px 62px 0px 62px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.767);
}

.modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 0 0 0 0;
  /* width: 80%; */
  max-width: 100%;
}

.slide {
  display: none;
  /* z-index: 9999999; */
  /* position: absolute;
  left: 0;
  top: 0;*/
  height: 100%;;
}

.image-slide {
  /* width: 80%; */
  height: 650px;
}

.modal-preview {
	width: 100%;
}

.dots {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

img.preview, img.modal-preview {
  opacity: 0.6;
}

img.active,
.preview:hover,
.modal-preview:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
} 

.close {
  color: black;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color:  rgb(0, 0, 0);
  text-decoration: none;
  cursor: pointer;
}

.previous,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  /* color: black!important; */
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

.previous {
  left: 0;
  border-radius: 3px 0 0 3px;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.previous:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.377);
}
