.form-error {
    color: red;
    text-transform: uppercase;
    font-size: small;
    margin: 10px;
    font-weight: 800;
    letter-spacing: 1px;
}

.error-container {
    color: wheat;
    margin: 200px;
    font-size: 30px;
}

input[type="text"] {
    border: 1px solid #EEE;
    outline-color: #00BFF0;
    padding: 0.1em 0.5em;
}

.form-control {
    font-size: 1.5em;
}

input[type="file"] {
    height: 1px;
    border: 1px solid #EEE;
    outline-color: #00BFF0;
    width: 100%;
    font-size: 1.5em;
    padding: 0.1em 0.5em;
    color: white;
}


label {
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    font-size: 25px;
    color: white;
}

input#inputCover {
    height: 100px;
    text-align: center;
}

input#file-upload-button {
    background: none !important;
}
