@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

* {
    box-sizing: border-box;
}

body {
    /* background-color: #7e84c2; */
    /* background-color: #c27e8d; */
    background:
    radial-gradient(black 15%, transparent 16%) 0 0,
    radial-gradient(black 15%, transparent 16%) 8px 8px,
    radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
    radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
    background-color:#282828;
    background-size:16px 16px;
    width: 100%;
    font-family: 'Oswald', sans-serif;
    position:relative; 
    min-height: 100%;
}

#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
}
#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #3498db;

    -webkit-animation: spin 2s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 2s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */

    z-index: 1002;
}

#welcome-username {
    display: block;
    position: relative;
    color: snow;
    font-size: 50px;
    z-index: 1003;
    text-align: center;
    text-transform: capitalize;
}

#welcome-username-p {
    display: block;
    position: relative;
    color: snow;
    font-size: 20px;
    z-index: 1003;
    text-align: center;
}

    #loader:before {
        content: "";
        position: absolute;
        top: 5px;
        left: 5px;
        right: 5px;
        bottom: 5px;
        border-radius: 50%;
        border: 3px solid transparent;
        border-top-color: #e74c3c;

        -webkit-animation: spin 3s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
        animation: spin 3s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
    }

    #loader:after {
        content: "";
        position: absolute;
        top: 15px;
        left: 15px;
        right: 15px;
        bottom: 15px;
        border-radius: 50%;
        border: 3px solid transparent;
        border-top-color: #f9c922;

        -webkit-animation: spin 1.5s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
          animation: spin 1.5s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
    }

    @-webkit-keyframes spin {
        0%   { 
            -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: rotate(0deg);  /* IE 9 */
            transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
        }
        100% {
            -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: rotate(360deg);  /* IE 9 */
            transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
        }
    }
    @keyframes spin {
        0%   { 
            -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: rotate(0deg);  /* IE 9 */
            transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
        }
        100% {
            -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: rotate(360deg);  /* IE 9 */
            transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
        }
    }

    #loader-wrapper .loader-section {
        position: fixed;
        top: 0;
        width: 51%;
        height: 100%;
        background: #222222;
        z-index: 1000;
        -webkit-transform: translateX(0);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: translateX(0);  /* IE 9 */
        transform: translateX(0);  /* Firefox 16+, IE 10+, Opera */
    }

    #loader-wrapper .loader-section.section-left {
        left: 0;
    }

    #loader-wrapper .loader-section.section-right {
        right: 0;
    }

    /* Loaded */
    .loaded #loader-wrapper .loader-section.section-left {
        -webkit-transform: translateX(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: translateX(-100%);  /* IE 9 */
                transform: translateX(-100%);  /* Firefox 16+, IE 10+, Opera */

        -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);  
                transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    }

    .loaded #loader-wrapper .loader-section.section-right {
        -webkit-transform: translateX(100%);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: translateX(100%);  /* IE 9 */
                transform: translateX(100%);  /* Firefox 16+, IE 10+, Opera */

-webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);  
        transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    }
    
    .loaded #loader {
        opacity: 0;
        -webkit-transition: all 0.3s ease-out;  
                transition: all 0.3s ease-out;
    }
    .loaded #loader-wrapper {
        visibility: hidden;

        -webkit-transform: translateY(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: translateY(-100%);  /* IE 9 */
                transform: translateY(-100%);  /* Firefox 16+, IE 10+, Opera */

        -webkit-transition: all 0.3s 1s ease-out;  
                transition: all 0.3s 1s ease-out;
    }

.navbar {
    height: 75px;
    background-color: #4651b8eb!important;
    box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.85);
    margin-bottom: 20px;
    background:
    radial-gradient(rgb(70, 82, 185) 15%, transparent 16%) 0 0,
    radial-gradient(#4651b8 15%, transparent 16%) 8px 8px;
    /* radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
    radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px; */
    background-color:#282828;
    background-size:16px 16px;
    position: fixed;
    width: 100%;
    z-index: 1;
    top:0;
    /* margin-bottom: 100px; */
}

.navbar-nav a,
.navbar a {
    color: whitesmoke!important;
    font-weight: 100;
    font-size: 20px;
}

.navbar-nav a {
    border: 1px solid white;
    border-radius: 20px;
    padding: 6px 40px!important;
    margin-right: 10px;
}

.navbar-brand {
    display: flex;
    align-items: center;
    margin-right: 100px;
    color: whitesmoke!important;
}

.navbar-brand img {
    width: 50px;
    height: 50px;
}

a {
    text-decoration: none!important;
}
a#hover-links1.activeA {
    color: rgb(180, 109, 109)!important;

}

a#hover-links2.activeA {
    color: rgb(0, 38, 78)!important;
}

.activeA:hover {
    opacity: .7;
}

a#hover-links1:hover,
a#hover-links2:hover {
    font-weight: 700;

}



.main-content {
    /* background-color: rgba(245, 245, 245, 0.075); */
    /* margin: 0 auto;
    width: 50%;
    margin: 100px 0;
    margin: auto; */
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 100px 0;
}
p#title {
    font-family: 'Permanent Marker', cursive;
    letter-spacing: 1.5px;
}

p#description {
    font-family: Montserrat, sans-serif;
    font-weight: 300;
}

.albums-container {
    display: flex;
    flex-wrap: wrap;
}

.album {
    width: 270px;
    margin: 0 1rem 1rem;
    height: 300px;
    text-align: center;
    /* background-color: white; */
    display: flex;
    /*justify-content: center;*/
    flex-direction: column;
    border: 2px solid #f18e99;
    position: relative;
}

.album-body {
    height: 100%;
    overflow: hidden;
}

.album-body img {
    height: 100%;
    width: 100%;

}

.album .album-title {
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#efc5ca+0,d24b5a+50,ba2737+51,f18e99+100;Red+Gloss+%233 */
    background: #efc5ca;
    /* Old browsers */
    background: -moz-linear-gradient(-45deg, #efc5ca 0%, #d24b5a 50%, #ba2737 51%, #f18e99 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #efc5ca 0%, #d24b5a 50%, #ba2737 51%, #f18e99 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #efc5ca 0%, #d24b5a 50%, #ba2737 51%, #f18e99 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#efc5ca', endColorstr='#f18e99', GradientType=1);
    /* IE6-9 fallback on horizontal gradient */
}

.album a {
    color: white;
    font-size: large;
    text-transform: uppercase;
}

.album-images {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    font-size: larger;
    color: #f18e99;
}


.album-modal {

    position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
    /* position: absolute;
    top: calc(30% - 150px);
    left: calc(50% - 250px); */
    z-index: 1000;
    width: 500px;
    background-color: rgba(0, 0, 0, 0.65);
    height: 300px;
    color: white;
    display: none;
    font-size: 22px;
}

.album-modal .album-modal-body {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
    position: relative;
    transition: 0.5s;
    height: 100%;
    width: 100%;
    backdrop-filter: blur(5px);
}

#closeModal {
    position: absolute;
    top: 10px;
    right: 10px;
}

#closeModal:hover {
    cursor: pointer;
}

#grayout.visible {
    display: block;
}
.album-modal.visible {
    display: block;
}

#modal {
    display: none;
    background-color: rgba(64, 109, 51, 0.897);
    color: snow;
    position: absolute;
    top: 10%;
    left: 35%;
    z-index: 1000;
    height: 250px;
    width: 500px;
    text-align: center;
    border-radius: 15px;
    box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.637);
}


#closeButton {
    background-color: transparent;
    position: absolute;
    border: none;
    color: snow;
    top: 10px;
    right: 10px;
    opacity: .7;
}

#closeButton:hover {
    opacity: 1;
}


#modal h3 {
    margin-top: 20px;
    font-size: 25px;
    padding: 10px 50px;
}

#modal h5 {
    margin-top: 15px;
}

.fa-info-circle {
    color: #ffffff !important;
    opacity: 1 !important;
    width: 50px !important;
}

#blackout {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.692);
    position: absolute;
    z-index: 999;
    display: none;
}

#grayout {
    width: 100%;
    height: 100%;
    background-color: rgba(46, 46, 46, 0.432);
    position: absolute;
    z-index: 999;
    display: none;
}

body.modal-opened .main-content {
    opacity: 0.5;
    filter: blur(0.1rem);
}



/* FOOTER */

div.footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    background-color: #222;
    color: snow;
    letter-spacing: .5px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    clear: both;
    
}

footer p {
    vertical-align: middle;
    text-align: center;
    margin: 0 !important;
}


/* FOOTER */





#container {
    /* This will come into play later */
    perspective: 40px;
}



#mainWrapper {
    display: flex;
    /* justify-content: center;
    align-items: center; */
    flex-wrap: wrap;
}

#cardsWrapper {
    display: flex;
    /* justify-content: space-between; */
    width: 100%;
    flex-wrap: wrap; 
    margin: 100px 20px;
    /* flex-wrap: wrap;  option 1 */ 
    /* flex-flow: row wrap;
    justify-content: center; /*option 2*/
    /* align-items: flex-start; */ 
}

.card {
    /* min-width: 320px; */
    width: 28%;
    height: 420px;
    perspective: 500px;
    position: relative;
    /* margin: 20px auto; */
    /* margin: 25px 25px; */
    margin: 30px auto;
    background-color: rgb(231, 231, 231);
    padding: 20px 20px 55px 20px;
    border: none;
    box-shadow: -2px 30px 15px 0px rgba(0, 0, 0, .55);
}

.image {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    /* transform: rotateX(30deg) rotateY(30deg); */
}

.screen {
    background-color: rgba(0, 0, 0, 0.22);
    width: 100%;
    height: 100%;
    transform: translateZ(40px) scale(0.940);
}

.text {
    position: absolute;
    bottom: 25px;
    left: 30px;
    color: white;
    transform: translateZ(51px) scale(0.940);
    font-family: 'Quicksand', sans-serif;
}

.details {
    position: absolute;
    bottom: 60px;
    right: 25px;
    color: white;
    background: rgba(0, 0, 0, 0.082);
    transform: translateZ(51px) scale(0.940);
    margin: 11px;
}

.details i {
    padding: 10px;
    /* margin: 10px; */
    float: right;
}

.details i:hover {
    cursor: pointer;
}

.text a {
    color: snow;
    text-decoration: none;
}

.text p {
    cursor: default;
    padding: 0;
    margin: 0;
}

.text p:first-of-type {
    font-size: 2em;
    margin-bottom: 5px;
    font-weight: 500;
}

.text p:last-of-type {
    font-size: 1em;
    font-weight: 400;
}
