.preview-images {
    border: 2px darkgrey;
    border-radius: 5px;
    background: white;
    /*min-height: 418px;*/
    width: 100%;
    margin: .5rem 0;
    display: none;
    flex-wrap: wrap;
    padding: 2rem;
}
.preview-images.visible {
    display: flex;
}
#dropbox.dragover {
    border: 2px dashed #f18e99;
}

div.visible,
div.progress {
    display: inline-block;
    margin-right: 10px;
}

.message {
    font-weight: 400;
    text-align: center;
    margin: 2rem;
    display: block;
}
.message.hidden {
    display: none;
}
.preview {
    width: 120px;
    height: 120px;
    text-align: left;

}
.preview img {
    width: auto;
    height: 100px;
}
.progress {
    width: 0;
    height: 30px;
    background-color: #4651b8;
    transition: 5s;
    /* max-width: 500px; */
    width: 100%;
    margin-bottom: 20px;

}

.main-content h3 {
    color: snow;
    text-align: center;
    margin: 20px;
}

select.custom-select {
    font-size: 30px;
}

#upload-btn {
    width: 100%;
    padding: 50px!important;
    font-size: 40px;
    background-color: #6c757d;
    color: #fff;
    background-image: linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 50%, rgba(255, 255, 255, 0.288) 51%);
}

.btn.btn-primary {
    padding: 15px 40px;
    font-size: 25px;
    width: 100%;
    
}